
extends layout


block content
  //- h1= message
  //- h2= status
  //- pre #{message}
  .row-fluid
    .span12 
      .box-inside 
        h1= status
        h2= message
        a.btn(href='/') Back to Home »
