extends layout

block content
  .row-fluid
    .span6 
      .hero-unit 
        .box-inside Articles
          a.btn(href='/articles') View details »
    .span6
      .hero-unit 
        .box-inside Books 
          a.btn(href='/books') View details »
