doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    .headers
      .container-headers SoftwareSeni
    .container
      block content
